body {
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.calendar {
    margin-top: 20px;
}