body {
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 400;
    font-style: normal;
}
nav.navbar {
    height: 6rem !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
}
::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4}

/* fullcalendar customaization */
#weekly-calendar .fc-header-toolbar {
    display: none;
}
.fc-event-time{
    display: none;
}

#isListView input{
    display: none;
}

#isListView div{
    display: none;
}

@media (max-width: 600px) {
    #isListView input{
        display: flex;
    }
    
    #isListView div{
        display: flex;
    }
}

@media (max-width: 400px) {
    .fc-today-button {
        display: none !important;
    }
}

/* modal window */
#eventModal {
    border-radius: 10px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .fc-col-header th{
        background-color: #2c3e50;
    }
    .fc-list-day th{
        background-color: #2c3e50 !important;
    }
    .fc-list-day-text {
        color: whitesmoke
    }
    .fc-list-day-side-text {
        color: whitesmoke;
    }
    .fc-toolbar-title {
        color: whitesmoke;
    }
    .fc-col-header-cell-cushion {
        color: whitesmoke;
    }
    .fc-daygrid-day-number {
        color: whitesmoke;
    }
}