.headerMenu {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

// HeaderMenu内のボタンのカスタムスタイル

.userButton {
  border-radius: 2rem; // より大きなcorner radius
  padding-inline: 0.9rem; 
  --button-label-font-size: 1.15rem;
  --button-label-font-weight: 500;
}

.internetStatusButton {
  border-radius: 100%;
}

// レスポンシブ対応
@media (max-width: 600px) {
  .headerMenu {
    width: 100%;
    justify-content: flex-start;
  }
  
  .userButton {
    --button-label-font-size: 1rem;
  }
}