$menu-gap: 0.5rem;

.container {
  // jsから$menu-gapを参照するためのカスタムプロパティ
  --menu-gap: #{$menu-gap};

  display: flex;
  gap: var(--menu-gap);
  flex-flow: row wrap;
  margin-top: 1rem;
  justify-content: space-between
}

@media (max-width: 600px) {
  .container {
    gap: 0.5rem;
  }
}